body{
    background-color: rgb(46, 134, 171);
    color: rgb(132, 220, 207 );
}

nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 99.3%;
    height: 25px;
    border-color: rgb(216, 140, 154);
    background-color: rgb(138, 43, 226);
    border-style: groove;
    border-width: 5px;
    padding: 5px 0 5px 0;
}

nav a{
    color: rgb(132, 220, 207 );
}

h1{
    text-align: center;
}

.main{
    margin-top: 50px;
}

#postContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#postContainer a{
    color: orchid;
}

#postContainer h2{
    text-align: center;
}

#postContainer h3{
    width: 80%;
    margin: auto;
}

.posts{
    border: groove;
    border-color: rgb(216, 140, 154);
    border-width: 5px;
    width: 80%;
    height: 40vh;
    margin: auto;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: rgb(21, 31, 59);
}

#post{
    border-style: outset;
    border-color: rgb(216, 140, 154);
    border-width: 5px;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    background-color: rgb(21, 31, 59);
}

#context{
    width: 80%;
    margin: auto;
}

#editBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#commentSection{
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    border-style: double;
    border-width: 5px;
    border-color: rgb(138, 43, 226);
    background-color: rgb(21, 31, 59);
    color:rgb(216, 140, 154);
}

.comment{
    width: 80%;
    border-style: groove;
    border-width: 5px;
    border-color: rgb(46, 134, 171);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.comment h3, p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#commentBox{
    width: 40%;
    border-style: groove;
    border-width: 5px;
    border-color: rgb(216, 140, 154);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(138, 43, 226);
    color: rgb(132, 220, 207 );
}

#commentBox form{
    display: grid;
    width: 60%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#comBtn{
    margin-bottom: 10px;
}

textarea{
    resize: none;
    margin-bottom: 20px;
}

#newForm{
    width: 50%;
    margin: auto;
    border-style: groove;
    border-width: 5px;
    border-color: rgb(216, 140, 154);
    background-color: rgb(21, 31, 59);
}

#newForm form{
    display: grid;
    width: 50%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#editForm{
    width: 50%;
    margin: auto;
    border-style: groove;
    border-width: 5px;
    border-color: rgb(216, 140, 154);
    background-color: rgb(21, 31, 59);
}

#editForm form{
    display: grid;
    width: 50%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#editForm div{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}